/* LeftSideDrawer.css */

.left-side-drawer {
    width: 300px;
    padding: 1rem;
    background-color: #A683E3;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #E4E9FD;
  }
  
  .create-list-btn {
    margin-bottom: 1rem;
    background-color: #8743E3;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .todo-list-btn {
    background-color: #8743E3;
    color: #fff;
    border: none;
    padding: 8px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  